[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aquacultuR"]
	path = aquacultuR
	url = https://github.com/tellanax/aquacultur
